{% extends 'base.html' %}
{% block title %}My Progress{% endblock %}
{% block content %}
<h2>My Progress!</h2>
<form method="POST">
    <div class="form-group">
        <label for="starting_weight">Starting Weight:</label>
        <input type="text" class="form-control" id="starting_weight" name="starting_weight" value="{{ user.starting_weight }}">
    </div>
    <div class="form-group">
        <label for="current_weight">Current Weight:</label>
        <input type="text" class="form-control" id="current_weight" name="current_weight" value="{{ user.current_weight }}">
    </div>
    <div class="form-group">
        <label for="goal">Goal:</label>
        <input type="text" class="form-control" id="goal" name="goal" value="{{ user.goal_weight }}">
    </div>
    <hr>
    <h3>Max Tracker</h3>
    <div class="form-group">
        <label for="bench_press">Bench Press:</label>
        <input type="text" class="form-control" id="bench_press" name="bench_press">
    </div>
    <div class="form-group">
        <label for="squat">Squat:</label>
        <input type="text" class="form-control" id="squat" name="squat">
    </div>
    <div class="form-group">
        <label for="calories_burned">Calories Burned:</label>
        <input type="text" class="form-control" id="calories_burned" name="calories_burned">
    </div>
    <button type="submit" class="btn btn-primary">Update Progress</button>
</form>
{% endblock %}