{% extends 'base.html' %}
{% block title %}Select Your Workout{% endblock %}
{% block content %}
<h2>Select Your Workout</h2>
<div class="row">
    <div class="col-md-3"><a href="{{ url_for('workout_details', workout_type='cardio') }}" class="btn btn-success btn-block">Cardio</a></div>
    <div class="col-md-3"><a href="{{ url_for('workout_details', workout_type='arms') }}" class="btn btn-success btn-block">Arms</a></div>
    <div class="col-md-3"><a href="{{ url_for('workout_details', workout_type='chest') }}" class="btn btn-success btn-block">Chest</a></div>
    <div class="col-md-3"><a href="{{ url_for('workout_details', workout_type='legs') }}" class="btn btn-success btn-block">Legs</a></div>
</div>
{% endblock %}