{% extends 'base.html' %}
{% block title %}Workout Type{% endblock %}
{% block content %}
<h2>Select Workout Type</h2>
<div class="row">
    <div class="col-sm-3"><a class="btn btn-success btn-block" href="/workouts/legs">Legs</a></div>
    <div class="col-sm-3"><a class="btn btn-success btn-block" href="/workouts/arms">Arms</a></div>
    <div class="col-sm-3"><a class="btn btn-success btn-block" href="/workouts/chest">Chest</a></div>
    <div class="col-sm-3"><a class="btn btn-success btn-block" href="/workouts/cardio">Cardio</a></div>
</div>
{% endblock %}